src/interplay_flows/flow.json
[{"id":"9ddad18e.090bd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d550d123.19704","type":"tab","label":"Plate code","disabled":false,"info":""},{"id":"661a7d50.08005c","type":"http in","z":"9ddad18e.090bd8","name":"","url":"/saveData","method":"post","upload":false,"swaggerDoc":"","x":440,"y":100,"wires":[["11f31171.dce10f"]]},{"id":"11f31171.dce10f","type":"function","z":"9ddad18e.090bd8","name":"","func":"var require = context.global.get('require');\n\nlet request = msg.payload;\n\nif (request !== null) {\n    writeDataToFile(request);\n} else {\n    node.warn(\"body is empty\");\n}\n\n\nfunction writeDataToFile(data) {\n    const fs = require('fs');\n\n    fs.writeFileSync(\"/interplay_v2/public/private/files/pump.json\", JSON.stringify(data),'utf8', function () {\n        if (onerror) {\n            return console.log(onerror);\n        }\n    });\n\n    console.log(\"File Saved!\");\n}\n\nmsg.payload = {\"msg\": \"success\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":100,"wires":[["e68accf1.57f2e"]]},{"id":"e68accf1.57f2e","type":"http response","z":"9ddad18e.090bd8","name":"","statusCode":"","headers":{},"x":880,"y":100,"wires":[]},{"id":"8b604fe1.7fa56","type":"python3-function","z":"9ddad18e.090bd8","name":"","func":"import cv2\nimport json\n\n#camurl='rtsp://username:password@192.168.1.63:554/ch0_unicast_firststream'\n#camurl='/interplay_v2/public/private/test01.avi'\n\npumpjson='/interplay_v2/public/private/files/pump.json'\n\nwith open(pumpjson) as f:\n  json_data = json.load(f)\n\n#print(json_data)\n\ncamurl=json_data['camera_url']\n\npumpcam = cv2.VideoCapture(camurl)\nwhile True:\n    try:\n        check, frame = pumpcam.read()\n        #print(check) #prints true as long as the pumpcam is running\n        #print(frame) #prints matrix values of each framecd \n        if check:\n              cv2.imwrite(filename='/interplay_v2/public/private/images/two_cars.png', img=frame)\n        else:\n              print(\"Camera feed OFF. Please try later!!!\")\n        pumpcam.release()\n        msg[\"completed\"]=\"success\"\n        break\n\n    except(KeyboardInterrupt):\n        print(\"Releasing LIVE Feed\")\n        pumpcam.release()\n        print(\"LIVE feed off.\")\n        print(\"Program ended.\")\n        msg[\"completed\"]=\"error\"\n        break\nreturn msg","outputs":1,"x":290,"y":340,"wires":[["82748492.508668","1d0e46f0.dd5df9"]]},{"id":"ee113f62.67cee","type":"http in","z":"9ddad18e.090bd8","name":"","url":"/take_photo","method":"get","upload":false,"swaggerDoc":"","x":111.5,"y":341,"wires":[["8b604fe1.7fa56","e55631d1.c0ad","82748492.508668"]]},{"id":"5f4890ca.a4f28","type":"http response","z":"9ddad18e.090bd8","name":"","statusCode":"","headers":{},"x":718.5,"y":337,"wires":[]},{"id":"82748492.508668","type":"function","z":"9ddad18e.090bd8","name":"","func":"var require = context.global.get('require'); \n\nif(!msg.completed)\n{\n    context.orig_msg=msg;    \n\n    return null;\n}\nmsg = context.orig_msg;\nvar fs = require(\"fs\");\n\nvar stats = fs.statSync(\"/interplay_v2/public/private/images/two_cars.png\");\nvar mtime = stats.mtime;\nlet seconds = (new Date().getTime() - mtime) / 1000;\n\nif(seconds < 10) //within last 10 seconds\n{\n    msg.payload={\"photo\":\"captured snapshot successfully\"};\n}\nelse\n{\n    msg.payload={\"error\":\"Unable to capture snapshot fom camera\"};\n}node.warn('msg: ');node.warn(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":483.5,"y":280,"wires":[["5f4890ca.a4f28","a911aeb9.f01a"]]},{"id":"1d0e46f0.dd5df9","type":"console","z":"9ddad18e.090bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":424,"y":429,"wires":[]},{"id":"e55631d1.c0ad","type":"console","z":"9ddad18e.090bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":200,"y":429,"wires":[]},{"id":"a911aeb9.f01a","type":"console","z":"9ddad18e.090bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":689,"y":421,"wires":[]},{"id":"2cc145e6.91d92a","type":"inject","z":"d550d123.19704","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["72ebeafd.0bf054"]]},{"id":"72ebeafd.0bf054","type":"exec","z":"d550d123.19704","command":"cd /interplay_v2/public/private/lpr; python3 app.py;","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Plate Extraction","x":380,"y":140,"wires":[["925ad5a4.515a18"],["a2689bd3.7aacd"],["1eae79bf.c82006"]]},{"id":"925ad5a4.515a18","type":"console","z":"d550d123.19704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":100,"wires":[]},{"id":"a2689bd3.7aacd","type":"console","z":"d550d123.19704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":160,"wires":[]},{"id":"1eae79bf.c82006","type":"console","z":"d550d123.19704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":220,"wires":[]},{"id":"70a7c2e4.94ea14","type":"http in","z":"9ddad18e.090bd8","name":"","url":"/readJsonFile","method":"get","upload":false,"swaggerDoc":"","x":490,"y":840,"wires":[["5995bdef.f0c2cc"]]},{"id":"5995bdef.f0c2cc","type":"function","z":"9ddad18e.090bd8","name":"","func":"var require = context.global.get('require');\n\n// let request = msg.payload;\n\n// if (request !== null) {\n//     readDataFromFile(request);\n// } else {\n//     node.warn(\"body is empty\");\n// }\n\n\nfunction readDataFromFile() {\n    let fs = require('fs');\n    let obj = JSON.parse(fs.readFileSync('./public/private/files/pump.json', 'utf8'));\n    return obj;\n}\n\nlet dataFromFile = readDataFromFile();\n\nmsg.payload = dataFromFile;//{\"msg\": \"success\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":840,"wires":[["7447368c.04fa98"]]},{"id":"7447368c.04fa98","type":"http response","z":"9ddad18e.090bd8","name":"","statusCode":"","headers":{},"x":920,"y":840,"wires":[]},{"id":"7870c059.6657d","type":"http in","z":"9ddad18e.090bd8","name":"","url":"/updateCameraUrl","method":"post","upload":false,"swaggerDoc":"","x":430,"y":920,"wires":[["43b1e152.7cea6"]]},{"id":"43b1e152.7cea6","type":"function","z":"9ddad18e.090bd8","name":"","func":"var require = context.global.get('require');\n\nlet request = msg.payload;\n\nif (request !== null) {\n    let data = readDataFromFile(request);\n    updateCameraValue(data, request.camera_url);\n\n} else {\n    node.warn(\"body is empty\");\n}\n\nfunction readDataFromFile() {\n    let fs = require('fs');\n    let obj = JSON.parse(fs.readFileSync('./public/private/files/pump.json', 'utf8'));\n    return obj;\n}\n\nfunction updateCameraValue(jsonData, newCameraValue) {\n\n    jsonData.camera_url = newCameraValue;\n\n    const fs = require('fs');\n\n    fs.writeFileSync(\"/interplay_v2/public/private/files/pump.json\", JSON.stringify(jsonData), 'utf8', function () {\n        if (onerror) {\n            return console.log(onerror);\n        }\n    });\n\n    console.log(\"File Updated with new Camera URL!\");\n}\n\nmsg.payload = {\"msg\": \"updated successfully!\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":920,"wires":[["23ab99c1.7c4136"]]},{"id":"23ab99c1.7c4136","type":"http response","z":"9ddad18e.090bd8","name":"","statusCode":"","headers":{},"x":920,"y":920,"wires":[]},{"id":"5d3045b.35fc9bc","type":"node-red-contrib-httpauth","z":"9ddad18e.090bd8","name":"","file":"","cred":"","authType":"Basic","realm":"circlek_pump","username":"okern_agent1","password":"p@ssw0rd123$","hashed":false,"x":453,"y":165,"wires":[["6b0511a6.6ba7f"]]},{"id":"eb7ccdda.a2ba2","type":"http in","z":"9ddad18e.090bd8","name":"","url":"/config","method":"get","upload":false,"swaggerDoc":"","x":272.5,"y":160,"wires":[["5d3045b.35fc9bc"]]},{"id":"4d37b74b.fa8648","type":"http response","z":"9ddad18e.090bd8","name":"","statusCode":"","headers":{},"x":1065.5,"y":170,"wires":[]},{"id":"6b0511a6.6ba7f","type":"file in","z":"9ddad18e.090bd8","name":"","filename":"/interplay_v2/public/private/image_coordinates.html","format":"utf8","chunk":false,"sendError":false,"x":768,"y":171,"wires":[["4d37b74b.fa8648"]]}]